.main {
  box-sizing: border-box;
  padding: $catalog-padding-v $catalog-padding-h;

  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: $gap-row $gap-col;
  justify-content: center;


}
